<h1><%= "マイページ" %></h1>

 <p><%= "購入履歴一覧" %></p>
 <div class="container">
 <table class="table">
  <div class="row">
    <div class="col-md-offset3 col-md-6"> 
         <tr>
           <th><%= sort_link(@search, :item_id) do  %>商品ID<% end %></th>
           <th><%= sort_link(@search, :item_item) do %>商品名<% end %></th>
           <th><%= sort_link(@search, :quantity) do %>購入数<% end %></th>
           <th><%= sort_link(@search, :total_amount) do %>合計金額<% end %></th>
           <th><%= sort_link(@search, :date) do %>購入日付<% end %></th>
         </tr> 
        <% @histories.each do |history| %>
          <tr>
            <td><%= history.item.id %></td>
            <td><%= history.item.item %></td>
            <td><%= history.quantity %></td>
            <td><%= history.total_amount %></td>
            <td><%= history.date.strftime('%Y年%m月%d日 %H:%M') %></td>
          </tr>
        <% end %>
    </div>
  </div>
 </table>
 <%= paginate(@histories) %>
 </div>

