<h3>以下の内容で確定する</h3>

<%= form_with(model: @item, local: true) do |f| %>
 <div>
  商品: <%= @item.item %>
  <%= f.hidden_field :item %>
 </div>
 <div>
  詳細: <%= @item.detail %>
  <%= f.hidden_field :detail %>
 </div>
 <div>
  数量: <%=@item.input.to_i %>
  <%= f.hidden_field :input %>
 </div>
 <div>
  <%= f.submit "購入する" %>
 </div>
 <div>
  <%= f.submit "戻る", name: 'back' %>
 </div>
 <% end %>


