<h1><%= "商品一覧" %></h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>検索フォーム</h3>

       <%= search_form_for @search do |f| %>
         <%= f.label :item_cont, "商品名" %>
         <%= f.text_field :item_cont %>
         <br />
         <%= f.label :item_kana_cont, "商品名よみ" %>
         <%= f.search_field :item_kana_cont, value:@item_kana %>
         <br />

         <%= f.label :stock_gteq, "在庫数" %>
         <%= f.number_field :stock_gteq, value:@item_stock %>
         <br />

         <%= f.label :stock_lteq, "~" %>
         <%= f.number_field :stock_lteq, value:@item_stock %>
         <br />

         <%= f.label :price_gteq, "価格" %>
         <%= f.number_field :price_gteq, value:@price %>
         <br />

         <%= f.label :price_lteq, "~" %>
         <%= f.number_field :price_lteq, value:@price %>
         <br />
    
         <%= f.check_box :stock_gteq %>
         <%= f.label :stock, "在庫ありのもの" %>
         <br />
    
         <%= f.check_box :flag_not_eq %>
         <%= f.label :flag, "販売中" %>
         <br />
         <%= f.submit %>
         <%= f.submit "クリア", name: 'clear' %>
       <% end %>
       </div>

       <div class="col-md-6">
        <table border="1" >
          <tr>
          <th><%= sort_link(@search, :item) %></th>
          <th><%= sort_link(@search, :item_kana) %></th>
          <th><%= sort_link(@search, :stock) %></th>
          <th><%= sort_link(@search, :price) %></th>
          <th><%= sort_link(@search, :flag) %></th>
          </tr>
         <% @items.each do |item| %>
         <tr>
         <td><%= link_to item.item, item_path(item.id) %></td>
         <td><%= item.item_kana %></td>
         <td><%= item.stock %></td>
         <td><%= item.price %></td>
         <td><%= item.sale %></td>
         </tr>
         <% end %>
       </table >
       <%= paginate(@items) %>
      </div>
    </div>
  </div>
