<% if @item.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
  <ul>
    <% @item.errors.messages.each do |msg| %>
      <% msg[1].each do |m| %>
      <%= m %>
      <% end %>
    <% end %>
  </ul>
  </div>
<% end %>



<h1>商品詳細情報</h1>


 <p>商品:<%= @item.item %><p>
 <p>詳細情報: <%= @item.detail %></p>


 <%= form_with model: @item, url: {action: "confirm"}, local: true do |f| %>
   <p>購入数</p> <%= f.number_field :stock,  min:1,max:9 %>
   <%= f.hidden_field :id %>
   <%= f.submit "購入する" %>
 <% end %>  

