<!DOCTYPE html>
<html>
  <head>
    <title>Ecsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
     <header>
      <ul>
        <li><%= link_to "マイページ", root_path %></li>
        <li><%= link_to "会員情報", edit_user_registration_path %></li>
        <li><%= link_to "商品一覧", items_path %></li>
       <% if user_signed_in? %>
        <li><%= link_to 'ログアウト', destroy_user_session_path,method: :delete %></li>
       <% else %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to 'サインアップ', new_user_registration_path %></li>
       <% end %>
      </ul>
      <%#= alert %>
    </header>
    <%= yield %>

    <footer>
      <p>©︎2018-2019 Copyright Samubuc Corp.</p>
    </footer>
  </body>

</html>
